{# templates/card/card.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Me-sida{% endblock %}
{% block content %}
    <h1>Metrics</h1>
    <h2>Introduktion</h2>
    <h2>Phpmetrics</h2>
    <h2>Scrutinizer</h2>
    <h2>Förbättringar</h2>
    <h2>Diskussion</h2>

{% endblock %}