body {
    margin: 0;
    background-color: rgb(245, 244, 241);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#page-div {
    position: relative;
    min-height: 100vh;
}

/*Header */

#header {
    background-color: rgb(122, 187, 192);
    height: 80px;
    overflow: auto;
}

#header-title {
    font-size: 30px;
    display: block;
    margin-left: 20px;
    margin-top: 20px;
}

/* Navbar */

#navbar {
    background-color: #3f3f3f;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#navbar ul li:hover {
    background-color: rgb(74, 141, 146);
}

#navbar ul li {
    display: inline-block;
    padding: 10px;
}

#navbar a {
    text-decoration: none;
    color: #fff;
}

/* Content */

#content {
    margin: auto;
    max-width: 800px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    margin-top: 60px;
}

/* Footer */

#footer {
    height: 30px;
    padding: 10px;
    background-color: rgb(122, 187, 192);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Card display */

.card-container {
    display: flex;
    width: 560px;
    flex-wrap: wrap;
}

.card {
    font-size: 22px;
    background-color: white;
    margin: 5px;
    border: solid;
    border-width: 1px;
    width: 30px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}