{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Me-sida{% endblock %}
{% block content %}
    <h1>Kortspel startsida</h1>
    <ul>
        <li><a href="{{ asset("card/deck") }}">Kortleken</a></li>
    </ul>
{% endblock %}