{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Me-sida{% endblock %}
{% block content %}
    <h1>Card game landing page</h1>
    <ul>
        <li><a href="{{ asset("card/deck") }}">See deck</a></li>
        <li><a href="{{ asset("card/deck/shuffle") }}">Reset and shuffle deck</a></li>
        <li><a href="{{ asset("card/deck/draw") }}">Draw a card</a></li>
    </ul>
{% endblock %}