{# templates/card/deck.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Me-sida{% endblock %}
{% block content %}
    <h1>Cards in deck</h1>
    {% if cards is empty%}
        The deck is empty!
    {% else %}
        <div class="card-container">
        {% for card in cards %}
            <div class="card" ><span style="color:{{card.getColor()}}">{{card.getSymbol() }}</span><br>{{ card.getRankStringIncludingJoker()}} </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}