{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Me-sida{% endblock %}
{% block content %}
    <h1>Players were given these cards:</h1>
    <ul>
    {% for player in players %}
        <h3>{{player[0]}}</h3>
        {% for card in player[1] %}
            <li>{{card}}</li>
        {% endfor %}
    {% endfor %}
    </ul>
    <p>There are {{cards_left}} cards left in the deck.</p>
{% endblock %}