{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Me-sida{% endblock %}
{% block content %}
    <h1>Cards in deck (shuffled)</h1>
    {% for card in cards_as_strings %}
        <li>{{ card }}</li>
    {% endfor %}
{% endblock %}