{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Om{% endblock %}
{% block content %}
    <h1>Om sidan</h1>
    <p>Det här är min sida för MVC-kursen - Objektorienterade webbteknologier - i programmet Webbprogrammering på Blekinge Tekniska Högskola!</br>
    Kursen handlar om objektorienterad programmering via webbbaserade ramverk och database, och använder språket PHP.
    </p>
    <p>
        <a href="https://github.com/dbwebb-se/mvc">Länk till kursens github-repo.</a>
    </p>
    <img style="max-width:600px" src="{{ asset("img/mvc.png") }}">
{% endblock %}