{# templates/me.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Me-sida{% endblock %}
{% block content %}
    <h1>Välkommen!</h1>
    <p>Hej! Jag heter Andreas och det här är min sida för MVC-kursen på BTH.</p>
    <img style="max-width:600px" src="{{ asset("img/owl.jpg") }}">
{% endblock %}