{# templates/card/draw.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Me-sida{% endblock %}
{% block content %}
    <h1>Card draw:</h1>
    <form method="post">
            <legend>Draw x cards</legend>
            <p>
                <label>Amount:
                    <input type="number" name="amount" value="">
                </label>
            </p>
            <p>
                <input type="submit" value="Draw">
            </p>
    </form>
    
    
    {% if not drawn_cards is empty%}
        <div class="card-container">
        {% for card in drawn_cards %}
            <div class="card" ><span style="color:{{card.getColor()}}">{{card.getSymbol() }}</span><br>{{ card.getRankStringIncludingJoker()}} </div>
        {% endfor %}
        </div>
        <p>There are {{cards_left}} cards left in the deck.</p>
    {% endif %}
    
{% endblock %}