{# templates/texas-about.html.twig #}
{% extends 'baseProject.html.twig' %}

{% block title %}Projekt - Om{% endblock %}
{% block content %}
    <div class="poker-page-content">
    <h1>Om projektet!</h1>
    <h2>Funktioner</h2>
    <ul>
        <li>Återställ databas (/proj/reset)</li>
    </ul>
    <h2>Dokumenation</h2>
    <ul>
        <li>Länk till phpdoc-dokumentation</li>
        <li>Länk till phpmetrics-rapport</li>
        <li>Länk till Github-repo</li>
        <li>Länk till scrutinizer för repot</li>
    </ul>
    <h2>Om projektets kodkvalitet</h2>
    Summering av projektes kodkvalitet. Vilka åtgärder har jag gjort, hur har jag jobbat med
    kodkvaliteten, vilka verktyg jag har använt. Har jag fokuserat på några speciella saker?

    valde att ignorera viss kritik mot else-satser
    överlag många kompletteringar av typning från phpmd
    phpmd gav mycket varningar om för komplexa klasser och funktioner - fick ändra och dela upp
    ändra från if-satser till att köra funktioner genom array exemeplvis

    Hade kunnat dela ut mina "kortuträknings"-klasser i ännu fler för att få ner komplexitet - men känns snarare som att det bidrar till svårläslig kod 
    och onödigt många klasser. Tagit ett beslut!
    </div>
{% endblock %}