{# templates/user/user-create.html.twig #}
{% extends 'baseProject.html.twig' %}

{% block title %}Användare{% endblock %}
{% block content %}
    <div class="user-content">
    <a href="{{ path("texas-home") }}">&#x3c;- Tillbaka</a>
    <h2>Skapa användare</h2>
    <form method="post">
        <label for="akronym">Akronym:</label><br>
        <input required type="text" id="akronym" name="akronym"><br>
        <label for="password">Lösenord:</label><br>
        <input required type="password" id="password" name="password"><br><br>    
        <input type="submit" value="Skapa användare">
    </form>
    </div>
{% endblock %}